{% extends 'base.html' %}
{% block page_content %}
{% load static %}
<!-- Profile Information -->
<p class="whitespace"></p>
<div class="container">
    <div class="row justify-content-center">
        <div class="d-flex">
            <div class="d-inline p-2 w-50">
                {% if profile.image %}
                <img src="{{ profile.image.url }}" class="w-50 rounded mx-auto d-block"
                    alt="description">
                {% elif profile.gender == 'Male' %}
                    <img src="/static/assets/images/maleProfile406x406.png" class="w-50 rounded mx-auto d-block"
                        alt="description">
                {% elif profile.gender == 'Female' %}
                    <img src="/static/assets/images/femaleProfile406x406.png" class="w-50 rounded mx-auto d-block"
                        alt="description">
                {% else %}
                    <img src="/static/assets/images/nogenderProfile406x406.png" class="w-50 rounded mx-auto d-block"
                        alt="description">
                {% endif %}
            </div>
            <div class="d-inline p-2 w-50">
                <div class="d-flex flex-column">
                    <h5 class="profileFont"><u>Name:</u> {{ profile.full_name }}</h5>
                    <!-- If Date of Birth -->
                    {% if profile.date_of_birth %}
                    <h5 class="profileFont"><u>Birthdate:</u> {{ profile.date_of_birth }}</h5>
                    {% else %}
                    <h5 class="profileFont"><u>Birthdate:</u> Undefined</h5>
                    {% endif %}
                    <!-- If Email -->
                    <h5 class="profileFont"><u>Email:</u> {{ profile.user.email }}</h5>
                    <!-- If Gender is Chosen -->
                    {% if profile.gender %}
                    <h5 class="profileFont"><u>Gender:</u> {{ profile.gender }}</h5>
                    {% else %}
                    <h5 class="profileFont"><u>Gender:</u> Undefined</h5>
                    {% endif %}
                    <!-- If Description -->
                    {% if profile.description %}
                    <h5 class="profileFont"><u>Description:</u> {{ profile.description }}</h5>
                    {% else %}
                    <h5 class="profileFont"><u>Description:</u> Undefined</h5>
                    {% endif %}

                </div>
                <p class="mt-2">Total Events: {{ profile.user.event_set.all|length }}</p>
                <!-- <p class="mt-2">Total Likes: 21</p> -->
            </div>
        </div>
    </div>
</div>
<p style="white-space: normal; padding: 40px;"></p>


<p style="white-space: normal; padding: 14px;"></p>
<!-- <p class="whitespace"></p> -->
<!-- End Profile Information -->
{% endblock %}