{% extends 'base.html' %}
{% block page_content %}
<!-- Delete Profile -->
<p style="white-space: normal; padding: 142px;"></p>
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>Are you sure you want to delete that Comment?</h1>
            <div class="m-auto d-flex justify-content-center">
                <div class="m-2">
                    <form method="post" action="{% url 'comment_delete' comment_pk %}">

                        {% csrf_token %}
                        {{ form }}

                        <input type="submit" value="Confirm" class="btn btn-danger"/>
                    </form>
                </div>
                <div class="m-2">
                    <a class="btn btn-primary" href="{{ previous_url }}">No, go back</a>
                </div>
            </div>
        </div>
    </div>
</div>
<p class="whitespace"></p>
<!-- End Delete Profile -->
{% endblock %}