{% extends 'base.html' %}
{% block page_content %}
<!-- User change password -->
<p class="whitespace"></p>
<div class="container mb-5">
    <h1 class="text-center">Change Your Profile</h1>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-6">

            <!-- Change password Form -->
            <form action="{% url 'user_change_password' %}" method="POST">
                {% csrf_token %}
                {{ form }}
                <button class="btn btn-primary mt-2" type="submit">Change password</button>
            </form>
            <!-- End Change password -->

        </div>
        <div class="col-lg-3"></div>
    </div>
</div>
<p style="white-space: normal; padding: 122px;"></p>

<!-- End User Login -->
{% endblock %}